@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Barlow Condensed", sans-serif;
  color: #21aeb0;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.3)
    ),
    url(./Background.jpg) center no-repeat;
  background-size: cover;
}

.logo {
  max-width: 4rem;
  padding: 0.5rem;
  margin: 0.5rem;
}

.nav-list {
  display: flex;
  justify-content: center;
}

.nav-item {
  margin-top: 0;
  text-align: center;
  width: 25vw;
  position: relative;
}

.nav-link {
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 0.1rem;
}

.dropdown {
  margin-top: 1rem;
  position: absolute;
  background-color: lightgray;
  z-index: 100;
  opacity: 0;
  visibility: visible;
  height: 0;
  right: 200px;
  transform: translateX(10%);
  transition: all 0.3s;
}

.nav-item:hover .dropdown {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
  height: auto;
  transition: all 0.2s 0.3s;
}

.dropdown-item {
  text-align: center;
  padding: 2rem 2rem 0 2rem;
}

.dropdown-item:last-child {
  padding-bottom: 2rem;
}

.dropdown-link {
  text-transform: uppercase;
  font-size: 3rem;
}

.dropdown-item a {
  font-size: 1.4rem;
}
i {
  padding-right: 0.8rem;
}

ul:hover,
li:hover,
a:hover {
  color: black;
}

.dropdown-open {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

@media screen and (min-width: 700px) {
  .nav-item {
    width: 16vw;
  }
}

@media screen and (min-width: 700px) {
  .dropdown-item a {
    font-size: 2rem;
  }
}

.hero-text,
.main-page-info p {
  text-align: center;
  font-size: 2rem;
  margin: auto;
  max-width: 30rem;
  color: #0472ad;
}

h2 {
  text-align: center;
  line-height: 10rem;
  margin: auto;
  max-width: 30rem;
  color: #0472ad;
}

p {
  line-height: 3rem;
}

.hero-image {
  background-image: url("./Self-image.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  max-width: 23rem;
  height: 30rem;
}

.text-color,
.text-item {
  color: black;
  text-decoration: none;
}
ion-icon,
span {
  padding-left: 1rem;
  color: rgb(214, 224, 234);
}
@media screen and (min-width: 700px) {
  .hero-text,
  .main-page-info {
    font-size: 2rem;
  }
 h2 {
   font-size: 2.4rem;
  }
}
